body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    min-width: 320px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    background-color: #202634;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

img {
    max-width: 100%;
    height: auto;
}

header {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    display: block;
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

:root {
    --primary-color: #2563eb;
    --secondary-color: #f9fafb;
}

.text-red {
    color: red;
}