/* cascade classes applies to the element */
.card3-new {
    min-width: 500px;
}

.first-picture {
    width: 250px;
    height: 330px;
}

.first-picture:hover {
    filter: brightness(1.1);
    box-shadow: 0 0 20px 5px rgb(113, 168, 172);
}

.second-picture {
    width: 250px;
    height: 330px;
}

.second-picture:hover {
    filter: brightness(1.1);
    box-shadow: 0 0 20px 5px rgb(209, 125, 184);
}

.third-picture {
    width: 250px;
    height: 330px;
}

.third-picture:hover {
    filter: brightness(1.1);
    box-shadow: 0 0 20px 5px rgb(47, 55, 129);
}

.fourth-picture {
    width: 250px;
    height: 330px;
}

.fourth-picture:hover {
    filter: brightness(1.1);
    box-shadow: 0 0 20px 5px rgb(153, 154, 163);
}



.body {
    background-color: #202634;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.images {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.images>div {
    position: relative;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

/*.card1 {
    position: relative;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

.card2 {
    position: relative;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

.card3 {
    position: relative;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

.card4 {
    position: relative;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}*/

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0;
}

.text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    min-height: 80px;
    color: white;
    box-sizing: border-box;
}

.name {
    display: flex;
    justify-content: center;
    color: white;
}

.card1 .text {
    background-color: #5a7777;
}

.card2 .text {
    background-color: #c76dc2;
}

.card3 .text {
    background-color: #2d2575;
}

.card4 .text {
    background-color: #6a6d79;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
    transform: scale(1.05);
}

/*.card2:hover {
    transform: scale(1.05);
}

.card3:hover {
    transform: scale(1.05);
}

.card4:hover {
    transform: scale(1.05);
}*/

.news {
    position: relative;
}

.news-item {
    position: absolute;
    top: 0;
    left: 0;
}

.news-item:nth-child(1) {
    background-color: red;
    z-index: 2;
}

.news-item:nth-child(2) {
    background-color: green;
    z-index: 0;
}

.news-item:nth-child(3) {
    background-color: blue;
    z-index: 1;
}

.text {
    color: white;
    color: red;
    color: white;
    color: white;
    color: white;
    color: white;
    color: white;
    color: white;
    color: white;
    color: white;
    color: white;
    color: white;
    color: white;
    color: white;
    color: white;
    color: red;
}

[name="second-text"] {
    color: red;
    font-size: 20px;
}

[data-my-attribute="my-value"] {
    color: blue;
    font-size: 20px;
}

#primary-text {
    color: aqua;
}

/* 10 + 10 + 10 = 30 (0, 3, 0)*/
.images .card3 .text {
    color: green
}